.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.card {
  max-width: 20%;
  height: auto;
  margin-top: 20px;
  width: 20%;
  margin-right: 20px;
}

.title-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
